body{
    display: flex;
    justify-content: center;
    
}


.container{
    position: relative;
    display: flex;
    width: 70%;
 
}
header{
    background-image: url(https://th.bing.com/th/id/OIP.mUnfVYCJKsOgarjWClwFcQHaE7?w=860&h=573&rs=1&pid=ImgDetMain);
    position: absolute;
    width: 100%;
    height: 15%;
    border-bottom-left-radius: 90%;
    
}
header h1, .p1{
    text-align: end;
    padding-right: 60px;
    color: white;
}

.set1{
    background-color: bisque;
    width: 40%;
    padding: 30px;
    padding-top: 280px;
    

}
.set2{
    background-color: rgb(237, 242, 242);
    width: 80%;
    padding-top: 200px;
    padding-left: 30px;
    padding-bottom: 100px;

}
.img1{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: -250px;
    position: absolute;
    
}
.contacto{
    display: inline;
}
.ra2{
    border: 1px solid rgb(204, 165, 165);
    width: 50%;
}
h2{
    padding-top: 30px;
}
footer{
    background-image: url(https://th.bing.com/th/id/OIP.mUnfVYCJKsOgarjWClwFcQHaE7?w=860&h=573&rs=1&pid=ImgDetMain);
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: aliceblue;
    text-align: center;
    padding: 20px 0px;
   
}
